name: ci_build

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
    paths:
      - "**.cpp"
      - "**.hpp"
      - "**.py"
      - meson.build
  pull_request:
    branches:
      - master

jobs:

  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: pip install -r requirements.txt
    - run: meson build
      env:
        CXX: g++
    - run: meson test -C build -v
    - run: python python/demo.py
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: Linux_Testlog
        path: build/linux-logs/testlog.txt

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: brew install gcc
    - run: pip install -r requirements.txt
    - run: meson setup build
      env:
        CXX: g++
    - run: meson test -C build -v
    - run: python python/demo.py
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: MacOS_Testlog
        path: build/macos-logs/testlog.txt
